<form (ngSubmit)="onSubmit(); bookForm.reset()" #bookForm="ngForm">
  <input type="text" name="title" [(ngModel)]="title" placeholder="Введите название книги" required/><br/>
  <input type="text" name="author" [(ngModel)]="author" placeholder="Введите ФИО автора" required/><br/>
  <input type="number" name="numberPage" [(ngModel)]="numberPage" placeholder="Количество страниц" required/><br/>
  <input type="number" name="circulations" [(ngModel)]="circulations" placeholder="Тираж книги" required/><br/>
  <input type="date" name="dateWriting" [(ngModel)]="dateWriting" placeholder="Дата написания книги" required/><br/>
  <button type="submit" [disabled]="bookForm.form.invalid">Добавить</button>
</form>
<br/>
